<ion-header>
  <ion-toolbar color="primary">
    <ion-title>אודות תהלים ממוקד</ion-title>
    <ion-buttons slot="start">
      <ion-button href="/home"><ion-icon name="chevron-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  בס"ד
  <p>
  לתהילים סגולה נפלאה בכל עת צרה וצוקה. 
  <br>
  מכל ספר התהילים, מ-150 פרקיו ו-2,527 פסוקיו, נבחרו 
  <b>במיוחד</b> 
  פסוקים בהם 
  <b>נכללות ומודגשות</b>
  המילים השייכות לנושא הנבחר לקריאה.
<p>
  לדוגמה, עבור הנושא לקריאה "בריאות הגוף" נבחרו מכל ספר התהלים, הפסוקים הקשורים לגוף האדם. בפסוקים אלו הודגשו המילים המקושרות לגוף האדם. קריאת אותם פסוקים, היא סגולה ניפלאה לבריאות הגוף.
<p>
  כל משתמש מוזמן להוסיף שמות לזיכוי על פי הנושא שנבחר לקריאה.
<p>
  יהי רצון שנזכה בקריאת 15 הפסוקים המיוחדים לכל יום ולכל נושא, לשאוב את הסגולה המתאימה. 
<p>
<div style="text-align: center;">
    אמן! כן יהי רצון!
    <p>
      לה"ו - נערך ע"י אורן דוד
    <p>
      ליצירת קשר:
    <p>
      אורן דוד
    <p>
      טלפון: 054-9222160
    <p>
      <a href = "mailto: orendvd2510@gmail.com">orendvd2510@gmail.com</a>
    <p>
      התשפ"ג
    <p>
      בע"ה נעשה ונצליח
</div>
  
</ion-content>
