<ion-header>
  <ion-toolbar color="primary">
    <ion-title>אודות תהלים ממוקד</ion-title>
    <ion-buttons slot="start">
      <ion-button href="/home"><ion-icon name="chevron-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background large-text ion-text-justify" >
  בס"ד
  <p>
    תודה לבורא עולם על שזיכנו בבנית האפליקציה היעודית והיחודית - "תהלים ממוקד".
  <p>
    קריאת תהילים היא סגולה נפלאה בכל עת צרה וצוקה. כל פרק בספר התהלים אוגר בתוכו סגולה
    מסויימת. הסגולות נמצאות בפסוקים עצמם, באותיותיהם, הסודות היוצאים מהם וצירופיהם. איתרנו
    בסיעתא דשמייא את הפסוקים בעלי המסוגלות והשייכות ושייכנו אותם לנושאים כמו: בטחון ואמונה,
    בריאות, פרנסה, זרע בר קיימא ועוד.
  <br><br>
  מכל ספר התהילים, מ-150 פרקיו ו-2,527 פסוקיו, שוייכו הפסוקים לכל נושא, ובכל פסוק כזה הודגשו
המילים הרלבנטיות.
<p>
  לדוגמא, בנושא לקריאה "בריאות הגוף", נבחרו
  <b><u>מכל ספר התהלים</u></b>,
  <b><u>כל הפסוקים</u></b>
  הקשורים לגוף האדם.
  בפסוקים אלו
  <b><u>הודגשו המילים</u></b>
  המקושרות לגוף האדם. קריאת אותם פסוקים, היא סגולה נפלאה לבריאות הגוף.
<p>
  בנוסף, כל משתמש מוזמן להוסיף שמות לברכה, לבריאות, לפרנסה וכו&#39; על פי הנושא.
<p>
  יהי רצון שנזכה בקריאת 15 הפסוקים המיוחדים לכל יום ולכל נושא, לשאוב את הסגולה המתאימה. 
<p>
<div style="text-align: center;">
    אמן! כן יהי רצון!
    <p>
      לה"ו - נערך ע"י אורן דוד
    <p>
      ליצירת קשר:
    <p>
      אורן דוד
    <p>
     טלפון:
     <a href="tel:+972-54-9222-160">054-9222160</a>
    <p>
      <a href = "mailto: orendvd2510@gmail.com">orendvd2510@gmail.com</a>
    <p>
      התשפ"ג
    <p>
      בע"ה נעשה ונצליח
</div>
  
</ion-content>
