<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>ברוכים הבאים!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" dir="ltr">
  <div style="text-align: center;">
    אנא הזן כתובת מייל כדי להתחיל
  </div>
  <form [formGroup]="credentials">
    <ion-item class="ion-margin-buttom" lines="full"> 
      <ion-input type="email" aria-label="Email" placeholder="Email" formControlName="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button expand="full" type="button" [disabled]="!credentials.valid" (click)="register()">הרשמה</ion-button>
  </form>
</ion-content>
