<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title text-center>תהילים ממוקד</ion-title>
    <ion-buttons slot="start">
      <ion-button href="/home"><ion-icon name="home-outline"></ion-icon></ion-button>
      <ion-button href="/categories"><ion-icon name="people-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()"><ion-icon name="exit-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>