/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-content{ 
  //font-family:stam-sefarad !important;
  font-family:'FrankRuehl Normal';
  font-size:1.1em;
  
}
ion-content.background{
  --background: url('./assets/img/bg-klaph-opc50.png') 0 0/100% 100% no-repeat;
}

ion-item {
  --transition: none;
}

.rotate-180 {
  display: inline-block; 
  transform: rotate(180deg);
}

.padding-0 {
  padding-left: 0;
  padding-right: 0;
}
.about{
  margin-left: 10px;
}
.large-text{
  font-size: large;
}
.white-background{
  --background:white !important
}
ion-select-option{
  color-scheme:  light;
}