<ion-content class="background">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title text-center>הגדרות</ion-title>
      <ion-buttons slot="start">
        <ion-button href="/home"><ion-icon name="chevron-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item lines="full">
      <ion-label>הצג שמות לזיכוי ששותפו איתי</ion-label>
      <ion-toggle (ionChange)="updateDisplayOthers()" [(ngModel)]="is_checked">הצג שמות לזיכוי ששותפו איתי</ion-toggle> <!--[enableOnOffLabels]="true"-->
    </ion-item>
    <ion-item lines="full">
      <ion-label>גודל גופן</ion-label>
      <ion-range 
                [ticks]="true" 
                [snaps]="true" 
                [min]="0" 
                [max]="4"
                value={{fontRange}}
                (ionChange)="updateFontRange($event)">
        <ion-img slot="start" src="../../assets/icon-aleph.JPG" style="width:8%"></ion-img>
        <ion-img slot="end" src="../../assets/icon-aleph.JPG" style="width:15%"></ion-img>
      </ion-range>
    </ion-item>
    <ion-item button href="delete-account">
      מחיקת החשבון לצמיתות
    </ion-item>
   <!-- <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Toggle Dark Theme
      </ion-label>
      <ion-toggle id="themeToggle" slot="end" (ionChange)="toggleDarkMode()" [(ngModel)]="is_dark_mode"></ion-toggle>
    </ion-item>-->
  </ion-list>
</ion-content>